body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../projeto-petshop/img/fundo.png);
    background-size:cover ;
}
.container{
    width: 70%;
    max-width: 1600px;
    min-width: 80vh;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.cadastro-form{
    margin: 0;
    padding: 30px;
    background-color: rgba(224, 239, 239, 0.85);
    border-radius: 10px;
    text-align: center;
}

.cadastro-form h2{
    margin-bottom: 20px;
    font-size: 2.5rem;
    
}

.cadastro-form input[type="text"],
.cadastro-form input[type="tel"],
.cadastro-form input[type="email"],
.cadastro-form input[type="password"]{
    width:80%;
    padding:12px;
    margin-bottom: 15px;
    border: 3px solid #ccc;
    font: 1rem;
}

fieldset{
    border: 4px solid #e4aaf3;
    padding: 10px;
    border-radius: 10px;
}

.cadastro-form button{
    padding: 12px 25px;
    background-color: #e4aaf3;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}


select{
    width: 80%;
    padding: 12px 20px;
    border-radius: 10px ;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 3px solid #ccc;
}

label {
margin-right:9px ;
font-size: 18px;
letter-spacing: -1px;
display: inline-block;
margin-bottom: 8px;
font-size: 1rem;
font-weight: bold;
}
*{
    box-sizing: border-box;
}

/*---------------------- RESPONSIVO ----------------------*/

@media (max-width:1600px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    body{
        background-size: 1000px;
    }
}

@media (max-width: 600px) {
    
    .container{
        width: 100%;
        min-height: 70vh;
        padding: 10px;
    }
    
}